body {
  color: #3cb371;
  text-align: center;
  background-color: #212121;
}

#image {
  width: 20%;
  height: auto;
}

img {
  max-width: 500px;
  display: block;
  padding: 1% 40% 1% 40%;
}

#img-caption {
  color: #c0c0c0;
}

#tribute-info {
  padding: 1% 40% 1% 40%;
}

a:link, a:visited, a:hover {
  color: #c0c0c0;
}
